html{
    font-family: 'helvetica', sans-serif
}
/* article settings */



/* Sidebar settings */
sidebar
{
    font-size: 0.9em;
    /* Width of sidebar is up to 14% of the page */
    width: 14%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    padding: 1%;
    background-color: #003b75; /*default = #2980b9 */
    color: white;
    box-shadow: 0 0 3px black;
    text-align: center;
    padding-top: 8%;
    background-size: cover;
}

/* Main document settings */
body > article {
    display: block;

    /* the content of the article margins: top right bottom left */
    margin: 1% auto auto 14%;
    text-align: center;
}

section > p {
  display: block;
  text-align: justify;
  margin: 1% 14% auto 14%;
}

pre {
  text-align: left;
  margin: 1% 14% auto 14%;
}
pre > code{
  margin: 0;
}

section > ul {
    text-align: justify;
    margin: 1% 14% auto 14%;
    list-style-type: disc;
}
section > ol {
    text-align: justify;
    margin: 1% 14% auto 14%;
}


.title{
    font-family: "helvetica", sans-serif;
    color: black;
    text-align: center;
    font-size: 2.8em;
    font-weight: lighter;
}

.content{
    font-size: 14px;
}


#viewer {
  height: 450px;
  width: 450px;
  border: 2px solid black;
  margin: auto auto auto 5%;
}

#form {
  margin-bottom: 1%;
  margin-left: 18%;
}

input[type='text']{
  font-size: 14px;
}

.button{
  background-color: #003b75;
  color: white;
  font-size: 1em;
}

.sectionTitle{
  margin: 3% auto auto 14%;
  text-align: left;
}

/*Table settings*/
div.centred {
  text-align: center;
}

div.centred table {
  margin: 1% 14% auto 14%;
}

th {
    background-color: #003b75;
    color: white;
}
tr:hover{
    background-color: #f5f5f5;
}
