{% extends "base.html" %} <!-- The extends keyword means that the contents of this page is copied onto another base template (base.html)  -->

{% block scripts %} <!-- These are chunks of code that would go into various spots of base.html; this is a block just called "scripts" -->
<script>
    //https://stackoverflow.com/a/11811832
    // Deliberate javascript function to use generate a URL from submission
    function donaldAnalyse(){
        var url = '{{ url_for("analyse") }}?nrows=' + document.getElementById("nrows").value;
        location.href = url;
        return false;
    }

    // https://stackoverflow.com/a/831060
    function get(name){
       if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
          return decodeURIComponent(name[1]);
    }
    var numRows = get("nrows");
</script>
{% endblock %}

{% block body %} <!-- This is the "body" block that would fit onto the body of base.html -->
    
    <form onSubmit = "return donaldAnalyse()"> <!-- Deliberately use JavaScript to return a URL and avoid issues from refreshes -->
        <label for="nrows">Please enter the number of rows:</label>
        <input type="number" name="nrows" min = "1" max = "100" step = "1"></td>
        <button type="submit" data-loading-text="Retrieving..." class="btn">Get data</button>
    </form><br>

    {% if table %}
        <div class="centred">
            <script>
                // Not-so-pro JS code to print out some messages...
                if(numRows == undefined){ // Default
                    document.write("Here are Donald's top 20 Tweets (sorted by Retweet count).");
                }else{
                    document.write("Here are Donald's top " + numRows + " Tweets (sorted by Retweet count).");
                }
            </script>

            <table>
            {{ table }}
            </table>
        </div>
    {% endif %}

{% endblock %}
