<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <!-- Flask-y way of importing CSS and JS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
        <script type='text/javascript' src="{{ url_for('static', filename='js/jquery-2.0.2.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/modernizr-2.8.3.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/monokai-sublime.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tooltip.css') }}">
        <script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        {% block scripts %}
        {% endblock %}

    </head>
    <body>
        <sidebar>
            <h1>Flask-powered website</h1>
            <p><a href='{{ url_for("home") }}' style="color:white">Home</a></p>
            <p><a href='{{ url_for("aa") }}' style="color:white">Amino acid Generator (Exercise)</a></p>
            <p><a href='{{ url_for("analyse") }}' style="color:white">Twitter Analysis (Advanced Flask Example)</a></p>
        </sidebar>


        <!-- This bit says;
        if a variable named "title" is passed onto this base.html {% if title %}
        then fill it with the value of title {{ title }}
        otherwise {% else %} Fill it with something generic. {% endif %}
        -->
    	<article>
            <h1 class='title'>{%if title %}{{ title }}{% else %}Generic title{% endif %}</h1>
            {% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}
    		<section>
            	{% block body %}
            	{% endblock %}
           	</section>

            {% if tutorial %}
            <section>
                <h3 class="sectionTitle">Intro to Flask</h3>

                <p>For this, we're going to assume that you have some basic HTML, CSS and JavaScript literacy to get you going. If there are bits that confuse you, just give us a shout.</p>
                <p>Flask offers a "Pythonic" way of generating websites, without you having to fill in a bunch of things manually (e.g. filling up tables).</p>
                <p>For those of you who are PHP-savvy, this is effectively a "Pythonic" alternative to PHP.</p>
                <p>Feel free to keep this page open, and try out the code when building your own website. The code highlighting is done by <a href="https://highlightjs.org/">highlight.js</a>.</p>

                <h3 class="sectionTitle">Install Flask</h3>
                <p>Easiest way to install is using <code>pip</code>:</p>
                <pre><code class="shell">$ pip install flask</code>
                </pre>
                <p>The <a href="http://flask.pocoo.org/docs/0.12/installation/#pip-and-setuptools-on-windows">installation instructions</a> are also available online for Windows users...</p>

                <h3 class="sectionTitle" id="helloWorld">Hello world example</h3>
                <p>To use Flask, the simplest command is</p>
                <pre><code class="python"># main.py
# Create a new Flask instance called 'app'
app = Flask(__name__)

@app.route('/'):
def hello_world():
    return "Hello, world!"</code>
                </pre>
                <p>Then to run, you can set up a local server using</p>
                <pre><code class="shell">$ FLASK_APP=main.py flask run
* Serving Flask app "main"
* Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [12/Mar/2018 23:17:03] "GET / HTTP/1.1" 200 -</code>
                </pre>
                <p>Now type <code>http://127.0.0.1:5000/</code> into your browser and watch magic!</p>

                <h3 class="sectionTitle" id="basic">Function to HTML</h3>
                <p>For any Python function that will generate a URL, the following formula applies:</p>
                <pre><code class="python"># Route the app to foo, i.e. http://127.0.0.5000/foo
@app.route('/foo')
def fooBar():
    """
    The name of the function, fooBar, can be different to the route
    """
    out = do_something()
    return out</code>
                </pre>
                <p>This gets very powerful when we want to print hundreds of strings into HTML.</p>
                <pre><code class="python"># Route the app to numbers, i.e. http://127.0.0.5000/numbers
@app.route('/numbers')
def genNumbers():
    """
    Generate 100 numbers and convert into string.
    """
    numbers = [ str(n) for n in range(100) ]
    out     = " ".join(numbers)
    return out</code>
                </pre>
                <h3 class="sectionTitle" id="requests">Request handling</h3>
                <p>Flask apps handle GET requests; i.e., we can specify parameter(s) in the URL. Using a GET request means
                    that a series of parameters can be passed to generate the web page, and users can see what they are. Just so you remember:
                </p>
                <ul> 
                        <li>To send a list of parameters via the GET request, start with a "?" after the URL</li>
                        <li>For each separate parameter, separate them using the &amp; symbol.</li>
                        <li>Example: <code>http://127.0.0.5000/page?param1=foo&amp;param2=bar&amp;param3=foobar</code></li>
                </ul>
                <pre><code class="python"># Route the app to species with specific parameters
from flask import request # this handles the GET request
# e.g. http://127.0.0.5000/animal?species=giraffe
@app.route('/animal', method=['GET'])
def viewAnimal():
    """
    Process arguments from a GET request and do something with it.
    """
    args = request.args
    if 'species' in args:
        species = args['species']
        return "Hi, I am a %s" % species # e.g. Hi, I am a giraffe
    else:
        return "ERROR, invalid arguments!"</code>
                </pre>

                <h3 class="sectionTitle">Leveraging Templates</h3>
                <p>One of the biggest advantages of using Flask to power your website is the use of "template HTMLs". Essentially, you make a minimalistic HTML that contains
                placeholders for accepting the outputs from <code>main.py</code>. This means that we only need a limited number of template webpages, which can be adjusted
                according to the application. In fact, this website is built upon templates!</p>

                <p>Prepare yourself to look at HTML and Python simultaneously. The simplest web page template (in HTML) looks like this:</p>
                <pre><code class="html">&lt;!-- skeleton.html --&gt;
&lt;html&gt;
    &lt;body&gt;
        Nice to meet you, &#123;&#123; audience &#125;&#125;!
    &lt;/body&gt;
&lt;/html&gt;</code>
                </pre>
                <p>This is a template HTML called <code>skeleton.html</code> which can accept Python outputs from <code>main.py</code>. Draw your attention to the <code>audience</code>
                object that is nested within the two curly braces. When Python sends a variable called <code>audience</code>, its contents are fitted to wherever <code>audience</code>
                is placed. Now let's go back to Python to communicate with <code>skeleton.html</code>.</p>

                <p>By default, Flask is configured so that template webpages are searched in the <code>templates/</code> folder.</p>
                <pre><code class="python"># Route '/intro' to take GET requests
from flask import render_template # This renders outputs onto the template.
# e.g. http://127.0.0.5000/intro?name=
@app.route('/intro', method=['GET'])
def introduction():
    """
    To make this page 'work', try http://127.0.0.5000/intro?name=chris
    """
    args = request.args
    if 'name' in args:
        name = args['name'] # Get the name parameter from the GET request
    else:
        return "No name supplied!"

    # Render the skeleton.html file, which is in /location/to/working/directory/templates/
    # send the value of name to take the place of name_output
    return render_template("skeleton.html", audience = name)</code>
                </pre>
                <p>By running the code above with the URL <code>http://127.0.0.5000/intro?name=chris</code>, this generates a new HTML that is equivalent to:</p>
<pre><code class="html">&lt;!-- skeleton.html --&gt;
&lt;html&gt;
    &lt;body&gt;
        Nice to meet you, chris!
    &lt;/body&gt;
&lt;/html&gt;</code>
                </pre>
                <p>Having a more complex template means that we can output multiple variables in various places.</p>
<pre><code class="html">&lt;!-- skeleton_lottery.html --&gt;
&lt;html&gt;
    &lt;body&gt;
    Nice to meet you, &#123;&#123; audience &#125;&#125;! Your lottery numbers are: &#123;&#123; lottery &#125;&#125;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
                <pre><code class="python"># main.py
@app.route('/lottery', method=['GET'])
def generate_lottery():
    args = request.args
    if 'name' in args:
        name = args['name'] # Get the name parameter from the GET request
    else:
        return "No name supplied!"

    # Get a random set of integers
    np.random.seed(0)
    random_numbers = np.random.randint(0, 60, size = 7)

    return render_template("skeleton_lottery.html", audience = name, lottery = random_numbers)</code>
                </pre>
                <p>For the URL <code>http://127.0.0.5000/?name=John</code>, this effectively generates</p>
<pre><code class="html">&lt;!-- skeleton_lottery.html --&gt;
&lt;html&gt;
    &lt;body&gt;
    Nice to meet you, John! Your lottery numbers are: [44 47 53  0  3 59  3 39]
    &lt;/body&gt;
&lt;/html&gt;</code>
                </pre>
                <p>Templates can also take if statements and for loops. For example,</p>
<pre><code class="html">&lt;!-- skeleton_statements.html --&gt;
&lt;html&gt;
    &lt;body&gt;
        &#123;% if boolean %&#125;
            &lt;p&gt;Let's write this new paragraph!&lt;/p&gt;
        &#123;% endif %&#125;

        &#123;% for something in myList %&#125; &lt;!-- if statements and for loops use single brace with a % --&gt;
          &#123;&#123; something &#125;&#125; &lt;!-- Python outputs are in double braces --&gt;
        &#123;% endfor %&#125;
    &lt;/body&gt;
&lt;/html&gt;</code>
                </pre>
                <p>Given the Python code,</p>
                <pre><code class="python"># main.py
@app.route('/statements')
def ifFor():
    return render_template("skeleton_statements.html",
        boolean = True, myList = range(3))</code>
                </pre>
                <p>This generates...</p>
                <pre><code class="html">&lt;!-- skeleton_statements.html --&gt;
&lt;html&gt;
    &lt;body&gt;
        &lt;p&gt;Let's write this new paragraph!&lt;/p&gt;
        0
        1 
        2
    &lt;/body&gt;
&lt;/html&gt;</code>
                </pre>
                <h3 class="sectionTitle">Creating relative links</h3>
                <p>With Flask, it's possible to create relative links to a different web page. So far, we have already made three webpages:</p>
                
                <ul>
                    <li><code>skeleton.html</code></li>
                    <li><code>skeleton_lottery.html</code></li>
                    <li><code>skeleton_statements.html</code></li>
                </ul>
                
                <p>Let's have a new webpage that links to these other pages. Instead of a full URL, e.g. <code>http://127.0.0....</code>, we can make a relative URL:</p>
                <pre><code class="html">&lt;html&gt;
    &lt;body&gt;
       &lt;!-- Generate a new URL using the url_for command --&gt;
       &lt;a href='&#123;&#123; url_for("FUNCTION_NAME") &#125;&#125;'&gt; relative url &lt;/a&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
                <p>As the name suggests, <code>url_for</code> generates the URL for your web page that would be routed by the "FUNCTION_NAME" function. For example, we used the
                <code>generate_lottery</code> function last time for the webpage in <code>skeleton_lottery.html</code>. So then, to route to this web page,</p>
                <pre><code class="html">&lt;html&gt;
    &lt;body&gt;
       &lt;!-- Generate a new URL using the url_for command --&gt;
       &lt;a href='&#123;&#123; url_for("generate_lottery") &#125;&#125;'&gt; relative url &lt;/a&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
                <p>This then generates a new web page which is equivalent to </p>
                <pre><code class="html">&lt;html&gt;
    &lt;body&gt;
       &lt;!-- Generate a new URL using the url_for command --&gt;
       &lt;a href='/lottery'&gt; relative url &lt;/a&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>

                <h3 class="sectionTitle">Exercise</h3>
                <p>In the <code>templates/</code> folder, use <code>skeleton_amino.html</code> to...:</p>
                <ul>
                    <li>Write a Python function to create a random string of amino acids. To get you started, look at the <code>aa()</code> function.</li>
                    <li>Use a for loop in <code>skeleton_amino.html</code> to write 80 letters at a time, separated by a break (<code class="html">&lt;br&gt;</code>). (hint: pass a list from Python) </li>
                </ul>

                <h3 class="sectionTitle">Wrap-up</h3>
                <p>This is just the tip of the iceberg for what you can do with Flask. Essentially, Python replaces the need for PHP, and you can direct Python outputs straight to the web (less IO)</p>

                <p>If you're interested, check out the <code>analysis</code> page to see the kind of stuff you can do, or even the
                STCRDab website (which was purely built on Flask).</p>
            </section>
            {% endif %}
        </article>
    </body>
</html>
