<html>
    <body>
        {% if boolean %}
            <p>Let's write this paragraph!</p>
        {% endif %}

        {% for something in myList %}
            {{ something }}
        {% endfor %}
    </body>
</html>
