<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <!-- Flask-y way of importing CSS and JS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
    </head>

    <body>
        <sidebar>
            <h1>Flask-powered website</h1>
            <!-- url_for generates the relative URL for a webpage that is routed by that function. -->
            <!-- For example, the "home" function in the Python code routes to "/" -->
            <p><a href='{{ url_for("home") }}' style="color:white">Home</a></p>
            <p><a href='{{ url_for("aa") }}' style="color:white">Amino acid Generator (Exercise)</a></p>
            <p><a href='{{ url_for("analyse") }}' style="color:white">Twitter Analysis (Advanced Flask Example)</a></p>
            <p><a href='{{ url_for("d3run") }}' style="color:white">D3 Tutorial</a></p>
        </sidebar>
        <article>
            <h1 class='title'>Amino acid generator</h1>
            <section> 
            <p>This is your random protein:</p>
            <p>&gt;NAME_OF_PROTEIN<br>
            {% for line in protein %}
                {{ line }}
            {% endfor %}
            </p>
            </section>
        </article>
    </body>
</html>
